body {/* The background of the website */
    background-color: rgb(37,30,36);
    background-image: linear-gradient(to right, rgb(37, 30, 36), rgba(34, 36, 26, 0.856));
}

.title_bar { /* The title bar div, where everything above <hr> in body should be */ 
    text-align: center;
    justify-content: center;
    align-content: center;
    
}

.title_content {
    display: flex;
    justify-content:center;
    align-items: center;

}

h1 { /* Easiest to read, used for the title text. */
    color:rgb(231, 216, 231);
    font-family:'Trebuchet MS';
    font-size:35px;
    line-height: 35px;
}

h2 {
    color:rgb(231, 216, 231);
    font-family:'Trebuchet MS';
    font-size:25px;
}

h3 {
    color:rgb(255, 209, 255);
    font-family:'Trebuchet MS';
    font-size:20px;
}

h5 {
    color:rgb(196, 170, 196);
    font-family:'Trebuchet MS';
    font-size:20px;
}

h6 {
    color:rgb(133, 121, 133);
    font-family:'Trebuchet MS';
    font-size:12px;
}

p {
    color: rgb(255, 231, 253);
    font-family:'Trebuchet MS';
    font-size:15px;
}

hr {
    color:rgb(255, 32, 255);
}

button {
    background-color: rgb(67, 28, 94);
    color: rgb(231, 216, 231);
    border-radius: 0px;
    border-color: rgb(251, 234, 255);
    font-family: 'Trebuchet MS';
    font-size:15px;
}

.channel_image1 {
    border-radius: 100px;
    padding: 20px;
 display: wrap;
justify-content: flex-start;
}

.channel_image2 {
    border-radius: 100px;
    padding: 20px;
display: wrap;
justify-content: flex-end;
    transform: scaleX(-1); /* flip the image around */
}

a {
    text-decoration-color: rgb(255, 250, 173);
     color:rgb(196, 170, 196);
}

iframe {
    border-radius: 20px;
}
